* {
    font-family: "Hiragino Mincho Pro", "MS PMincho", serif;
}

.header {
    background: #ffffff;
    border-bottom: solid 2px rgb(238, 237, 236);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #867362;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    flex-grow: 1;
}