.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    color: #867362;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    margin-bottom: 15px;
    text-align: left;
    align-items: center; /* 垂直方向中央揃え */
}

.form__group-title {
    width: 140px;
}

.form__group-content {
    max-width: 600px;
    flex: 1;
}

.form__label--item {
    font-weight: bold;
}

.form__label--required {
    margin-left: 5px;
    border-radius: 3px;
    color: #ffa4a4;
}

.form__input--text {
    display: flex;
}

.form__input--text input,
.form__input--textarea textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #F4F4F4;
}

.form__input--text input {
    height: 40px;
}

.form__input--text input:not(:last-child) {
    margin-right: 10px;
}

.form__input--textarea textarea {
    height: 180px;
}

.search-form__item-select {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #F4F4F4;
}

.form__input--radio input[type="radio"] {
    margin-right: 10px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px 20px;
    border: none;
    background-color: #82756B;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form__button-submit:hover {
    background-color: #82756bbd; /* ホバー背景色 */
}