* {
    font-family: "Hiragino Mincho Pro", "MS PMincho", serif;
}

.thanks__content {
    background-color: rgba(255, 255, 255, 0.5); /* 半透明の白色背景 */
    position: relative;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 100px auto;
}

.thanks__content::after {
    content: "Thank you"; /* 表示する文字 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bold;
    color: #867362;
    opacity: 0.1;
}

.thanks__heading {
    margin-bottom: 30px;
    text-align: center;
    color: #867362;
}

.home__button-submit {
    padding: 10px;
    border: none;
    background: #867362;
    color: #fff;
    cursor: pointer;
}
